In [4]:
import pandas
from sklearn import linear_model

df = pandas.read_csv("/content/retirement_data.csv")
df

,age,annual_income,loan,assets_worth,family_count,spouse_working,health,bills_monthly,r_time
0,25,100000,0,500000,3,1,0,4000,58
1,30,90000,45000,400000,4,1,1,5050,64
2,27,200000,5000,450000,3,1,0,5000,45
3,29,400000,0,600000,3,0,1,5500,37
4,35,50000,30000,450000,3,0,0,5800,70
5,40,40000,100000,400000,3,1,0,5500,62
6,21,120000,60000,500000,2,1,1,4000,42
7,22,180000,25000,100000,1,0,0,2000,43
8,23,85000,0,200000,2,1,0,4000,47
9,36,350000,0,300000,5,1,1,8000,59
10,34,305000,100000,500000,4,0,1,7000,60
11,28,247000,75000,475000,3,0,1,5000,54
12,33,300000,5000,300000,4,0,0,6000,57
13,23,70000,80000,400000,2,1,1,3000,72
14,26,100000,0,200000,2,0,0,4200,62
15,21,60000,0,350000,1,0,0,2500,60
16,32,100000,50000,600000,2,1,0,4700,55
17,39,359000,100000,500000,3,1,1,7700,57
18,41,401000,105000,650000,4,1,0,10000,60

In [5]:

X = df[['age', 'annual_income', 'loan', 'assets_worth', 'family_count', 'spouse_working', 'health', 'bills_monthly']]
y = df['r_time']

regr = linear_model.LinearRegression()
regr.fit(X, y)

#predict the CO2 emission of a car where the weight is 2300kg, and the volume is 1300cm3:
predicted = regr.predict([[43, 70000, 0,300000,3,1,0,5500]])

print(predicted)

[63.61348268]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [6]:
predicted = regr.predict([[27, 200000, 50000,300000,3,0,0,5500]])

print(predicted)

[59.58871518]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [7]:
predicted = regr.predict([[26, 90000, 50000,100000,4,1,0,6000]])
print(predicted)

[68.21702719]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

### **Early retirement**
**Income estimator based on lifestyle**

In [8]:
a = df[['age', 'loan', 'assets_worth', 'family_count', 'spouse_working', 'health','r_time']]
b = df['annual_income']
model = linear_model.LinearRegression()
model.fit(a,b)
predicted = model.predict([[28, 0, 300000,3,1,0,45]])
print(predicted)

[200975.45784204]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [9]:
a = df[['age', 'loan', 'assets_worth', 'family_count', 'spouse_working', 'health','r_time','annual_income']]
c= df['bills_monthly']
expenseModel = linear_model.LinearRegression()
expenseModel.fit(a,c)
exp = expenseModel.predict([[28, 0, 300000,3,1,0,45,200975]])
print(exp)

[5099.71063665]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"